<!-- زر القائمة في الموبايل -->
<button class="btn btn-dark d-lg-none m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas">
  ☰ Menu
</button>

<!-- الهيكل الرئيسي -->
<div class="d-flex" style="min-height: 100%;">
  <!-- Sidebar -->
  <div class="offcanvas-lg offcanvas-start bg-dark text-white p-3"
       tabindex="-1"
       id="sidebarOffcanvas"
       aria-labelledby="sidebarLabel"
       style="width: 250px; min-height: 100vh;">

    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">📊 {{'sidebar.Dashboard' | translate}}</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/events" routerLinkActive="active" class="nav-link text-white">🎫 {{'sidebar.Events' | translate}}</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/users" routerLinkActive="active" class="nav-link text-white">👥 {{'sidebar.Users' | translate}}</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/tickets" routerLinkActive="active" class="nav-link text-white">🎟️ {{'sidebar.Tickets' | translate}}</a>
      </li>
      <li class="nav-item mt-4">
        <a (click)="logout()" class="btn btn-outline-light w-100">{{'sidebar.Logout' | translate}}</a>
      </li>
    </ul>
  </div>


</div>
